body {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    
}

.image {
    height: 50em;
    width: 40em;

}

.container{
    display: flex;
    
    justify-content: space-around ;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.words_box{
    padding: 5em;
    margin-top: 10em;
    margin-bottom: 20em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.words_box h2{
    text-decoration: underline;
}